html {
    font-family: "Montserrat","Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    background: #111;
    padding-bottom: 2rem;
    margin:0;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 14px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn:hover, .btn:focus, .btn:active {
    box-shadow: none;
    outline: none !important;
    border-color: transparent;
}
.btn-primary {
    color: #fff;
    background-color: #EF5353;
    border-color: #ed3c3c;
}


.btn-primary .badge {
    color: #EF5353;
    background-color: #fff;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}


.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}


.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}


.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.btn-sm{
    padding:5px 10px;
}
.container {
    max-width: 90rem;
    margin:0 auto;
    background: #ccc;
}

.nav-container {
    width: 100%;
    background: #fff;
    padding-top: 2vh
}

.nav-ul {
    padding-left: .5rem
}

.nav-ul li {
    height: 2.5rem;
    width: auto!important;
    padding-bottom: 1rem
}

.nav-ul .slide-a {
    color: #555;
    font-size: 1.2rem;
    padding: 0 1.4rem .8rem
}

.nav-ul .active-li a {
    color: #000
}

.nav-ul .active-li {
    border-bottom: 2px solid #000
}

.fall-box {
    width: 100%;
}

.fall-box .item {
    width:33.3333%;
    padding:1%;
}
.item-inner{
    width:100%;
    background: #fff;
    border: solid 1px #BCBCBC;
    box-shadow: 0 0 10px #BCBCBC;
    padding:10px;
    border-radius: 3px;
}
@media screen and (max-width: 480px) {
    .fall-box .item {
        width: 100%;
        margin-bottom: 1.5rem
    }
}
.fall-box .section-p {
    background: #fff;
    padding: 5px;
    /* padding-left: 5%; */
}

.fall-box .item-img {
    width: 100%;
    display: block;
    min-height:250px;
}

.item .title-p {
    color: #000;
    font-size: 1.8rem;
    /* margin-bottom: .5rem; */
    padding: .8rem 0;
}

.item .name-p {
    color: #555;
    font-size: 1rem
}

.item .price-p {
    margin-top: .8rem;
    color: #444;
    font-size: 1.2rem;
    padding-bottom: 2.2rem
}

.more-a {
    display: block;
    text-align: center;
    padding: 30px 0;
}

.more-a img {
    width: 6%
}
.inner-img{
    position: relative;
}
.play-btn{
    line-height: 24px;
    padding:15px 0;
    font-size:40px;
    position: absolute;
    width:70px;
    height:70px;
    text-align:center;
    background:rgba(45, 45, 45, 0.5);
    border-radius: 100%;
    top:50%;
    left:50%;
    margin-top: -35px;
    margin-left: -35px;
    outline: none;
    border:2px solid #eee;
}
.play-btn:hover{
    background:rgba(45, 45, 45, 0.8);
}
.play-btn i{
    margin-left:5px;
    color:#fff;
    font-size:24px;
}
.btn-heart,.btn-download{
    color:#fff;
    padding: 0px 6px;
    margin-right: 10px;
}
.icon-hd{
    position: absolute;
    top:10px;
    left:10px;
    font-size:24px;
    color:#c1cece;
}
.mask{
    height:30px;
    line-height: 30px;
    width:100%;
    position: absolute;
    bottom:0px;
    left:0;
    right:0;
    background: #fff;
    font-size: 14px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}
#frame{
    display:none;
    position:fixed;
    width:480px;
    left:50%;
    margin-left:-240px;
    bottom:0px;
    top:0;
    background: #eee;
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
    z-index:9999;
}

@media screen and (max-width: 480px) {
    #frame{
        display:none;
        position:fixed;
        width:100%;
        margin-left:0;
        left:0;
        right:0;
        top:0;
        bottom:0px;
        background: #eee;
        border-left:1px solid #ccc;
        border-right:1px solid #ccc;
        z-index:9999;
    }
}
.ifheader{
    padding:15px;
    background:#009688;
    text-align: center;
    color:#fff;
    position:absolute;
    top:0;
    left:0;
    right:0;
    z-index: 9999;
}
.ifheader .close{
    float:right;
    font-size:40px;
}
#frame iframe{
    width:100%;
    height:100%;  
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display: none;
    
}
#signup{
    width:200px;
    font-size:26px;
}
.iffooter{
    position: absolute;
    bottom:0;
    left:0;
    rigth:0;
    width: 100%;
    height:40px;
    line-height:40px;
    text-align: center;
    color:#fff;
    background:#009688;
    font-size:20px;  
    z-index: 9999;
}
