@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 400;
  src: url(4UaOrEtFpBISc36l2jDu5w.woff) format('woff');
}
@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 700;
  src: url(4UaDrEtFpBIayFu29xLlza_B4g.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(mem8YaGs126MiZpBA-UFVZ0df8pkAg.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(KFOmCnqEu92Fr1Mu4mxMKTU1Kg.woff) format('woff');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url(ieVl2ZhZI2eCN5jzbjEETS9weq8-19K7Cwk6YvM.woff) format('woff');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url(ieVi2ZhZI2eCN5jzbjEETS9weq8-32meGCQYadlecyU.woff) format('woff');
}
